# Configuração do SP Bastuco do dominio Barcelos.cam (10.2.2.1)
Bastuco.cam DB test_configs/Bastuco.db 
#SS Lixa
Bastuco.cam SS 10.3.3.2 
#SS Sequeade
Bastuco.cam SS 10.2.2.3 
Bastuco.cam DD 10.2.2.1 
Bastuco.cam LG /var/dns/Barcelos-Bastuco-cam.log 
all LG /var/dns/all_log.log 
root ST /var/dns/rootservers.db 
