# Configuração do SP Bastuco do dominio Barcelos.cam (10.2.2.1)
Barcelos.cam. DB test_configs/Bastuco.db 
#SS Lixa
Barcelos.cam. SS 10.3.3.2 
#SS Sequeade
Barcelos.cam. SS 10.2.2.3 
Barcelos.cam. DD 10.2.2.1 
Barcelos.cam. LG /var/dns/Barcelos-Bastuco-cam.log 
all LG /var/dns/all_log.log 
root ST /var/dns/rootservers.db 
