# Configuração do SP Margaride do dominio Felgueiras.dist (10.3.3.1)
SP TYPE
Margaride.dist DB /var/dns/Margaride.db 
Margaride.dist SS 10.2.2.2 
Margaride.dist SS 10.3.3.3
Margaride.dist DD 10.3.3.1 
Margaride.dist LG /var/dns/Felgueiras-Margaride-dist.log 
all LG /var/dns/all_log.log 
root ST /var/dns/rootservers.db 