# Configuração do SP Margaride do dominio Felgueiras.cam (10.3.3.1)
Felgueiras.cam. DB /var/dns/Margaride.db 
Felgueiras.cam. SS 10.2.2.2 
Felgueiras.cam. SS 10.3.3.3
Felgueiras.cam. DD 10.3.3.1 
Felgueiras.cam. LG /var/dns/Felgueiras-Margaride-cam.log 
all LG /var/dns/all_log.log 
root ST /var/dns/rootservers.db 