# Configuração do SP do dominio reverse. / in-addr.reverse. / 10.in-addr.reverse. (???)
SP TYPE
reverse. DB test_configs/reverse.db
reverse. DD ???
reverse. LG /var/dns/reverse.log
in-addr.reverse. DB test_configs/in-addr.reverse.db
in-addr.reverse. DD ???
in-addr.reverse. LG /var/dns/in-addr.reverse.log
10.in-addr.reverse. DB test_configs/10.in-addr.reverse.db
10.in-addr.reverse. DD ???
10.in-addr.reverse. LG /var/dns/10.in-addr.reverse.log
all LG /var/dns/all_log.log 
root ST test_configs/rootservers.db 