# Configuração do SP do dominio bastuco.cam. do dominio cam. (10.1.1.3)
SP TYPE
bastuco.cam. DB test_configs/bastuco.cam.db 
bastuco.cam. SS 10.1.1.1 
bastuco.cam. SS 10.1.1.2
bastuco.cam. DD 10.1.1.3
bastuco.cam. DD 10.2.2.1 
bastuco.cam. LG /var/dns/bastuco.cam.log 
all LG /var/dns/all_log.log 
root ST test_configs/rootservers.db